* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: "100vw";
  height: "100vh";
  font-family: Arial, sans-serif;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}

input::placeholder {
  color: white;
  opacity: 0.8;
}
